html {
	background-color: #ffffff;
}

.hero-banner {
    padding-bottom: 0px;
}

.content {
	padding-left: 150px;
	padding-right: 150px;
}

/* NAVBAR STUFF */
.navbar {
	padding-top: 200px;
}

.navbar > .content > .navbar-wrapper {
  margin: 0;
  padding-left: 0px;
}

.navbar a.navbar-brand {
  font-size: 32px;
  font-weight: 500;
  padding: 10px 10px;
}

.navbar-logo {
  float: left;
  height: 45px;
  max-width: 100px;
  padding: 2px;
}

/* ERROR BAR STUFF */
.error-banner {
  background-color: #e02a2a;
  margin-top: -10px;
  display: block;
  color: white;
  padding: 0px;
}

.error-banner > .content > .row {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* FOOTER STUFF */
.footer {
    border-top: 5px solid #005ea5;
    background-color: #dee0e2;
    min-height: 0px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer > .content {
  padding-left: 30px;
}

.form-control {
  font-size: 20px;
  height: 50px;
  width: 500px;
}

.postcode {
  width: 300px;
}

.form-login {
  width: 400px;
}

/* BOOTH LOGIN */
.booth-info-entry > .form-control {
    font-size: 20px;
    height: 50px;
    width: 300px;
}

.booth-info-entry {
  font-size: 25px;
}

.booth-info-entry > .help-block {
  font-size: 20px;
}

/* INSERT PIN STUFF */
.booth-pin-entry {
  line-height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-control {
    font-size: 50px;
    height: 70px;
    width: 300px;
}

.booth-pin-entry > .control-label {
  font-size: 28px;
  line-height: 70px;
}

.booth-pin-entry > .help-block {
  font-size: 24px;
}

/* VOTE CASTING OPTIONS */
.block-label {
    vertical-align: middle;
    line-height: 40px;
    font-size: 30px;
}

.checkbox label.block-label {
    padding: 15px;
    margin-bottom: 10px;
}

.cast-vote {
  font-size: 25px;
  display: none;
}

/* CONFIRM VOTE */
.confirm-vote > .help-block {
  font-size: 25px;
  line-height: 50px;
}

/* YOU HAVE VOTED */
.count-down {
  font-size: 25px;
  line-height: 50px;
}
