/************** NAVBAR STUFF **************/
.navbar > .navbar-wrapper {
  margin: 0;
}

.navbar a.navbar-brand {
	font-size: 30px;
}


/**************** STATION ****************/

/* STATION FORM STUFF */
/*.station-info-entry {
  display: block;
  width: 60%;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 70%;
}

.station-info-entry > p{
  font-size: 55%;
}

.form-control {
  font-size: 20px;
}*/

/****************************************/


/**************** BOOTH *****************/

.candidate-label {
  font-size: 70%;
  padding: 12px 15px 15px 15px;
}

/****************************************/
