{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='castvote.js') }}"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  <p>These are your candidates for the constituency of {{ candidates[0].fields.constituency }}.</p>
  <p>Press the number next to your desired candidate followed by the Enter key.</p>
{% endblock %}

{% block body %}
  {{ super() }}
  <form action="/cast_vote" method="post" name="form-cast-vote">

    <!--repeat this table row for each item in items-->
    {% for candidate in candidates %}
      <div class="checkbox">
        <label class="block-label" id="{{ loop.index }}">
          {{ loop.index }}. {{ candidate.fields.first_name }} {{ candidate.fields.last_name }} - {{ candidate.fields.party }}
        </label>
      </div>
    {% endfor %}
  </form>
{% endblock %}
