{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
You are the voter.
{% endblock %}

{% block body %}
  {{ super() }}
  <form action="/cast_vote" method="post" name="form-cast-vote">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Constituency</th>
          <th>Party</th>
        </tr>
      </thead>
      <tbody>
          <!--repeat this table row for each item in items-->
          {% for candidate in candidates %}
          <tr>
              <td>{{candidate.fields.first_name}}</td>
              <td>{{candidate.fields.last_name}}</td>
              <td>{{candidate.fields.constituency}}</td>
              <td>{{candidate.fields.party}}</td>
              <td>
                <button class="btn btn-primary vote-btn" type="submit" name="btn-vote-cast" value="Vote">VOTE</button>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
