{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/castvote.js') }}"></script>
{% endblock %}

{% block banner %}
  {{ super() }}
  <p>These are your candidates for the constituency of {{ candidates[0].fields.constituency }}.</p>
  <p>Press the number next to your desired candidate followed by the Enter key.</p>
  <p>Press 0 to cancel.</p>
{% endblock %}

{% block body %}
  {{ super() }}
  <!--<form action="{{ url_for('cast_vote') }}" method="post" name="form-cast-vote">-->
  <div class="form-cast-vote">
    <!--repeat this table row for each item in items-->
    {% for candidate in candidates %}
      <div class="checkbox">
        <label class="block-label" id="{{ loop.index }}" name="{{ candidate.pk }}">
          {{ loop.index }}. {{ candidate.fields.first_name }} {{ candidate.fields.last_name }} - {{ candidate.fields.party }}
        </label>
      </div>
    {% endfor %}
    <div class="checkbox">
      <label class="block-label" id="{{ candidates|length + 1 }}" name="{{ 0 }}">
        {{ candidates|length + 1 }}. Spoil ballot
      </label>
    </div>
  </div>
  <p class="help-block cast-vote" id="cast-vote"><b>Press enter to cast your vote.</b></p>
{% endblock %}
