{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/confirmvote.js') }}"></script>
{% endblock %}

{% block content %}
  {{ super() }}
  <p>You have selected: </p>
{% endblock %}

{% block body %}
  {{ super() }}
  <div>
    <label class="block-label">
      {{ candidate.first_name }} {{ candidate.last_name }} - {{ candidate.party }}
    </label>
  </div>
  <p class="help-block cast-vote" id="cast-vote">Press <b>enter</b> to confirm.</p>
  <p class="help-block cast-vote" id="cast-vote">Press <b>any other key</b> to go back.</p>
{% endblock %}
