{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/confirmvote.js') }}"></script>
{% endblock %}

{% block banner %}
  {{ super() }}
  <p>You have selected: </p>
{% endblock %}

{% block body %}
  {{ super() }}

  <div class="confirm-vote">
    {% if candidate=='SPOILT' %}
      <label class="block-label"> Spoil Ballot </label>
    {% else %}
      <label class="block-label"> {{ candidate.first_name }} {{ candidate.last_name }} - {{ candidate.party }} </label>
    {% endif %}
    <p class="help-block">Press <b>enter</b> to confirm or <b>any other key</b> to go back.
  </div>

{% endblock %}
