{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block banner %}
  {{ super() }}
  <div id="confirm-text">
    {% if candidate=='CANCEL' %}
      <p>Are you sure you want to cancel voting? </p>
    {% else %}
      <p>You have selected: </p>
    {% endif %}
  </div>
{% endblock %}

{% block body %}
  {{ super() }}
  <div id="confirm-body">
  {% if candidate!='CANCEL' %}
    <div class="confirm-vote">
      {% if candidate=='SPOILT' %}
        <label class="block-label"> Spoil Ballot </label>
      {% else %}
        <label class="block-label"> {{ candidate.first_name }} {{ candidate.last_name }} - {{ candidate.party }} </label>
      {% endif %}
  {% endif %}
  <p class="help-block">Press <b>enter</b> to confirm or <b>any other key</b> to go back.
  </div>
  </div>

  <div id="spinnerContainer" class="spinner"></div>

{% endblock %}

{% block foot %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/confirmvote.js') }}"></script>
{% endblock %}
