{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}
  <form action="{{ url_for('verify_pin') }}" method="post" name="verify-pin" autocomplete="off">
    <div class="form-group booth-pin-entry">
      <label class="control-label" for="voterPin">Type in your 6 digit PIN and press Enter</label>
      <input type="text" class="form-control" name="voterpin" autofocus="autofocus">
      <p class="help-block">This is the one on the sheet of paper.</p>
    </div>
    {{ form.csrf_token }}
  </form>
{% endblock %}
