{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
You are the voter.
{% endblock %}

{% block body %}
  {{ super() }}
  {% if message %}
    <h3>{{ message }}</h3>
  {% endif %}
  <form action="{{ url_for('verify_pin') }}" method="post" name="verify-pin">
    <div class="form-group booth-pin-entry">
      <label class="control-label" for="voterPin">Type in your 6 digit PIN and press Enter</label>
      <input type="text" class="form-control" name="voterpin">
      <p class="help-block">This is the one on the sheet of paper.</p>
    </div>
    {{ form.csrf_token }}
  </form>
{% endblock %}
