{% extends 'base.html' %}
{% block title %}Booth{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block banner %}
  {{ super() }}
  <p>You have voted. </p>
{% endblock %}

{% block body %}
  {{ super() }}
  <div class="count-down help-block">
    Congratulations on exercising your right as a democratic citizen of Swinglia.
  </div>
{% endblock %}

{% block foot %}
  <script type="text/javascript" src="{{ url_for('static', filename='js/youvoted.js') }}"></script>
{% endblock %}
